#logoApp{
    width: 128px;
}

#header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#postChannel{
    width: 700px;
}
#postChannel {
    background-color: transparent;
    border-color: #176e10;
    color: #fff;
  }

  #postChannel::placeholder {
    color: #176e10; /* Changer la couleur du texte du placeholder */
    font-size: 0.8rem;
  }
