<header id="header" class="bg-dark p-3 shadow" xmlns="http://www.w3.org/1999/html">
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-md-2 col-12 text-center mb-3 mb-md-0">
        <img
          src="../../../assets/logo.png"
          id="logoApp"
          alt="Logo de l'application représentant une pastèque"
          class="img-fluid"
        />
      </div>
      <div class="col-md-8 col-12 text-center search-container">
        <h1 class="m-0">Suika tchat !</h1>
        <div class="d-flex justify-content-center">
          <input
            type="text"
            class="form-control mt-2 w-50 w-md-50"
            id="postChannel"
            name="postChannel"
            placeholder="Rechercher un message..."
            (input)="search($event)"
          />
        </div>
        <div *ngIf="searchResults.length > 0" class="container mt-3 scrollable-list">
          <ul class="list-group">
            <li *ngFor="let result of searchResults; let j = index" class="list-group-item">
              <h5 class="mb-1">Contenu : {{ result.content }}</h5>
              <small>Par : {{ result.username }}</small>
              <br>
              <small class="text-muted">Le : {{ result.sendingDate }}</small>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-2 col-12 text-center text-md-end mt-2 mr-md-2">
        <span class="badge bg-success"
        >Hello, {{ this.userService.userConnect.username }} ! 🖐️</span>
      </div>
      <div class="col-md-2 col-12 text-center text-md-end mt-2 mr-md-2">
        <span class="badge bg-success">
        <button class="btn btn-primary" (click)="logout()">Logout</button>
        </span>
      </div>

    </div>

  </div>
</header>
