#formChannel{
    display: flex;
    flex-direction: row;
}

#formChannelButton{
    height: 30px;
    font-size: 14px;
    padding: 5px 10px;
    margin-left:10px;
    background-color: #176e10;
    color: #fff;
}

#postChannel{
    height: 30px; /* Réduit la hauteur de l'input */
    font-size: 14px;
}