<div class="mt-4 addChannelContainer">
  <form
    (ngSubmit)="onSubmit()"
    #orderForm="ngForm"
    id="formChannel"
    class="fix-bottom"
  >
    <div>
      <div class="form-group">
        <input
          type="text"
          class="form-control"
          id="postChannel"
          required
          [(ngModel)]="newChannel.name"
          name="postChannel"
          placeholder="Nom de votre channel"
        />
      </div>
      <span class="text-warning small" *ngIf="this.errorCreateChannel !== ''">{{
        this.errorCreateChannel
      }}</span>
    </div>
    <button
      id="formChannelButton"
      type="submit"
      class="btn btn-light pt-0 pb-0"
      ngbTooltip="Ajouter un channel"
      placement="top"
    >
      <img src="../../../assets/plus.png" alt="" height="16" />
    </button>
  </form>
</div>
