<div *ngFor="let channel of this.channelService.channelList; let i = index">
    <div *ngIf="editingIndex !== i; else editMode" class="my-2">
        <span (click)="evenement(channel)" class="pointer-cursor">
            #{{channel.name}}
        </span>
        <span *ngIf="channel.name !== 'Général'" (click)="startEditing(i)" class="pointer-cursor me-2">
            ✍🏻
        </span>
    </div>
    <!-- ng-template permet d'avoir un rendu dynamique qui n'est pas rendu immédiatement, ici utilisé avec la directive ngIf. Lorsque ngIf est false, il va rechercher un template qui comporte editMode -->
    <ng-template #editMode>
        <input [(ngModel)]="channel.name" />
        <span (click)="saveChanges(channel)" class="pointer-cursor">💾</span>
        <span (click)="deleteChannel(channel.id)" class="pointer-cursor delete">🗑</span>
        <span (click)="cancelEditing()" class="pointer-cursor">❌</span>
    </ng-template>
</div>