.pointer-cursor {
    cursor: pointer;
}

.pointer-cursor:hover {
    color: #007bff;
}

#backArrow {
    height: 18px;
}

#bin {
    height: 19px;
}

#saveIcon {
    height: 16px;
    margin-left: 0.3rem;
}